SCHEDULER_BIND_ADDR=":9210"

WORKER_BIND_ADDR=":9211"
WORKER_UPSCALE_SCALE=3
WORKER_FAKE_DELAY=5

POSTGRES_URL=postgresql://

RABBITMQ_URL=amqps://
RABBITMQ_TASK_QUEUE=upscale.tasks
RABBITMQ_RESULTS_QUEUE=upscale.results

S3_ENDPOINT=https://
S3_REGION=ap-southeast-1
S3_ACCESS_KEY=s3-access-key
S3_SECRET_KEY=se-secret-key
S3_BUCKET=images
